In [ ]:
__author__ = "Yasaman Emami"
__email__ = ["emami.yasamann@gmail.com", "yasaman.emami@sjsu.edu"]

In [2]:
import pandas as pd
import numpy as np

data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None, index_col=False)

data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
df = pd.DataFrame(data, columns = ["CRIM", "ZN", "INDUS", "CHAS", "NOX", "RM", "AGE", "DIS", "RAD", "TAX", "PTRATIO", "B", "LSTAT"])
target = raw_df.values[1::2, 2]
df["MEDV"] = target

In [3]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [4]:
data.shape

(506, 13)

In [5]:
target.shape

(506,)

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = \
    train_test_split(df.iloc[:,:-1], df.iloc[:,-1], random_state=11)

print(f'Shape of training set = {X_train.shape}')
print(f'Shape of testing  set = {X_test.shape}')

Shape of training set = (379, 13)
Shape of testing  set = (127, 13)

In [8]:
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

LinearRegression()

In [11]:
for i, name in enumerate(df.columns[:-1]):
    print(f'{name}: {regr.coef_[i]:.5f}')

print()
print(f'y-intercept: {regr.intercept_:.2f}')

CRIM: -0.09689
ZN: 0.04869
INDUS: 0.02292
CHAS: 2.93332
NOX: -18.63036
RM: 4.39980
AGE: 0.01165
DIS: -1.39217
RAD: 0.31624
TAX: -0.01333
PTRATIO: -0.87614
B: 0.01124
LSTAT: -0.48901

y-intercept: 29.96

In [13]:
# Make predictions using the testing set
y_pred = regr.predict(X_test)


# The mean squared error
print("Mean Squared Error:           %.2f" % mean_squared_error(y_test, y_pred))
# The coefficient of determination: 1 is perfect prediction
print("\nCoefficient of determination: %.2f" % r2_score(y_test, y_pred))

Mean Squared Error:           25.53

Coefficient of determination: 0.68